// Файл обнуляющих стилей
@import "nullstyle.scss";

// Переменные для блока
$fz: 30px;
$color_1: #626262;
$color_2: #b4ad9e;

// Шаблон №1

.header {
	position: relative;
	display: flex;
	flex-direction: column;
}
.header__container {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: space-between;
}
._container {
	max-width: 1200px;
	padding: 0px 15px;
	margin: 0 auto;
}
.header__logo {
	padding: 68px 0px 0px 0px;
	font-family: Inconsolata;
	font-size: 30px;
	text-transform: uppercase;
	letter-spacing: 6px;
	line-height: 3%;
	color: inherit;
	&:hover {
		color: rgb(27, 132, 158);
		transition: all 0.5s ease 0s;
	}
}
.header__menu {
	display: flex;
	padding: 68px 0px 0px 0px;
	:not(:last-child) {
		margin-right: 103px;
	}
	margin-bottom: 72px;
}
.menu__list {
	display: flex;
}
.menu__item {
}
.menu__link {
	display: flex;
	flex-wrap: wrap;
	font-family: PlayfairDisplay;
	font-size: 14px;
	color: #626262;
	line-height: 13%;
	text-transform: uppercase;
	&:hover {
		color: rgb(255, 212, 20);
		text-decoration: underline;
		transition: all 0.5s ease 0s;
	}
}

.image-horse {
	margin: 0 auto;
	.img {
		width: 1061px;
		height: 509px;
	}
	margin-bottom: 99px;
}
// .................................
.page {
	flex: 1 1 auto;
}
.page__photodiary {
}

//.............................

._page__container {
	padding: 0px 15px;
	max-width: 908px;
	margin: 0 auto;
}
.photodiary__link {
	margin-bottom: 28px;
}
._link {
	font-family: Ubuntu;
	font-size: 14px;
	font-weight: 300;
	color: #b4ad9e;
	text-transform: uppercase;
	line-height: 142%;
	display: inline-block;
	margin-bottom: 28px;
	&:hover {
		color: rgb(255, 212, 20);
		transition: all 0.5s ease 0s;
		text-decoration: underline;
	}
}
.photodiary__title {
	margin-bottom: 34px;
}
._title {
	font-family: PlayfairDisplay;
	font-size: $fz;
	color: #626262;
	line-height: 142%;
}
.photodiary__text {
	display: flex;
	font-family: PlayfairDisplay;
	line-height: 178%;
	color: #626262;
	margin-bottom: 52px;
}
.photodiary__comment {
	margin-bottom: 135px;
}

// .......................................................

.page__lifestyle {
}
._page__container {
}
.lifestyle__colum {
}
._colum {
	display: flex;
	justify-content: space-between;
	margin-bottom: 132px;
}
.colum__item {
}
.item__image {
	margin-bottom: 32px;
	img {
		width: 420px;
		height: 279px;
	}
}
.item-link {
	font-weight: 300;
	font-family: Ubuntu;
	color: $color_2;
	line-height: 142%;
	text-transform: uppercase;
	display: inline-block;
	margin-bottom: 28px;
	&:hover {
		color: rgb(255, 212, 20);
		transition: all 0.5s ease 0s;
		text-decoration: underline;
	}
}
.item-title {
	font-family: PlayfairDisplay;
	font-size: $fz;
	color: $color_1;
	line-height: 142%;
	margin-bottom: 34px;
}
.item-text {
	font-family: PlayfairDisplay;
	color: $color_1;
	line-height: 150%;
	max-width: 420px;
}

// ..........................................................

.page__newsletter {
	background-color: #f0f0f0;
	margin-bottom: 103px;
}

.newsletter__body {
	text-align: center;
}
.newsletter-title {
	padding-top: 73px;
	font-size: $fz;
	color: #333;
	font-family: PlayfairDisplay;
	letter-spacing: 0.75px;
	margin-bottom: 83px;
}
.enter__container {
}
.enter-link {
	color: $color_1;
	font-family: PlayfairDisplay;
	span {
		background: right no-repeat url("../../img/icon/ios.ico");
		padding: 0px 180px 0px 0px;
	}
}
.newsletter-border {
	display: inline-block;
	margin-bottom: 74px;
}

// ...................................................

.pagwe__lifestyl {
	margin-bottom: 165px;
}
.page__container {
}
.lifestyle__colum {
}
._colum {
}
.colum__item {
}
.item__image {
}
.item-link {
}
.item-title {
}
.item-text {
}

// .........................................

.page__button {
}
.page__container {
	max-width: 1200px;
	margin: 0 auto;
	text-align: center;
	justify-content: center;
}
.button-load {
	display: inline-block;
	margin-bottom: 100px;
	padding: 15px 34px 15px;
	width: 164px;
	height: 60px;
	border: solid 1px #626262;
	font-size: 20px;
	line-height: 1.2em;
	color: $color_1;
	&:hover {
		background-color: rgb(114, 114, 196);
		color: rgb(240, 111, 182);
		transition: all 0.5s ease 0s;
	}
}

// ..................................................

.footer {
}
.footer__main {
	max-height: 97px;
}
._container {
}
.footer__menu {
	background-color: #f0f0f0;
	display: flex;
	justify-content: space-between;
	padding: 40px 71px 40px 150px;
	text-align: center;
}
.menu-footer__list {
	:not(:last-child) {
		margin-right: 17px;
	}
}
.menu-footer__link {
	color: #000;
	font-family: PlayfairDisplay;
	line-height: 1.71em;
	&:hover {
		color: rgb(255, 212, 20);
		transition: all 0.5s ease 0s;
		text-decoration: underline;
	}
}
.menu-footer__social {
	display: inline-block;
	display: flex;
	:not(:last-child) {
		margin-right: 17px;
	}
}
.menu-footer__link-item {
	color: #000;
	font-family: PlayfairDisplay;
	line-height: 1.71em;
}
.social__item {
}
